vendor/
app/wp/
app/wp-content/*.php
app/wp-content/backups/
app/wp-content/languages/*
!app/wp-content/languages/plugins
app/wp-content/languages/plugins/*
app/wp-content/uploads
app/wp-content/plugins/*
!app/wp-content/plugins/__APPNAME*/
app/wp-content/themes/*
!app/wp-content/themes/__APPNAME*/
composer.lock
sitemap.xml
*.log
.settings
._*
node_modules
.vscode/
mysql/
